<!DOCTYPE html>  
<html>  
  <head>  
      <title>index</title>  
  </head>  
  <body>  
      <h2>Sistemas Móveis Distribuídos - Projeto Final</h2>
      <p>Grupo: Alejandro Huller | Barbara de Argolo Melo | Caroline Stelitano | Lucas da Silva | Victor Enriquetto</p>
    <br>
    <ul>
      <li><a href="/pessoas?token=xyz02">Lista Pessoas</a></li>
      <li><a href="/inserirpessoa?token=xyz02">Inserir Pessoa</a></li>
    </ul>
    <p>Utilizar a url para as opções:</p>
    <ul>
      <li>Listar pessoa por cpf: /pessoa/cpf</li>
      <li>Atualizar pessoa por cpf: /atualizarpessoa/cpf</li>
      <li>Remover pessoa por cpf: /removerpessoa/cpf</li>
    </ul>
  </body>  
</html> 